
body{
    width: 100%;
    margin-top: 5%;
    margin-bottom: 5%;
    background: rgba(2,9,25,1);
    background: -moz-linear-gradient(top, rgba(2,9,25,1) 0%, rgba(19,35,54,1) 24%, rgba(37,63,85,1) 50%, rgba(37,63,85,1) 51%, rgba(37,63,85,1) 71%, rgba(2,9,25,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(2,9,25,1)), color-stop(24%, rgba(19,35,54,1)), color-stop(50%, rgba(37,63,85,1)), color-stop(51%, rgba(37,63,85,1)), color-stop(71%, rgba(37,63,85,1)), color-stop(100%, rgba(2,9,25,1)));
    background: -webkit-linear-gradient(top, rgba(2,9,25,1) 0%, rgba(19,35,54,1) 24%, rgba(37,63,85,1) 50%, rgba(37,63,85,1) 51%, rgba(37,63,85,1) 71%, rgba(2,9,25,1) 100%);
    background: -o-linear-gradient(top, rgba(2,9,25,1) 0%, rgba(19,35,54,1) 24%, rgba(37,63,85,1) 50%, rgba(37,63,85,1) 51%, rgba(37,63,85,1) 71%, rgba(2,9,25,1) 100%);
    background: -ms-linear-gradient(top, rgba(2,9,25,1) 0%, rgba(19,35,54,1) 24%, rgba(37,63,85,1) 50%, rgba(37,63,85,1) 51%, rgba(37,63,85,1) 71%, rgba(2,9,25,1) 100%);
    background: linear-gradient(to bottom, rgba(2,9,25,1) 0%, rgba(19,35,54,1) 24%, rgba(37,63,85,1) 50%, rgba(37,63,85,1) 51%, rgba(37,63,85,1) 71%, rgba(2,9,25,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020919', endColorstr='#020919', GradientType=0 );

}
.container{
    width: 90%;
}
.c1{
    height: 1200px;
}
.firstc1 {
    text-align: center;
    border-radius: 2px;
    background-color: transparent;
    height: 328px;
    z-index: 10;
}
.secondc1{
    border-radius: 2px;
    height: 226px;
    z-index: 10;
    padding-top: 2px;

}
.thirdc1{
    border-radius: 2px;
    background-color: green;
    height: 480px;
    z-index: 10;
}
.c2{
   height: 1200px;
 }
.firstc2 {
    border-radius: 2px;
    background-color: blue;
    height: 180px;
    z-index: 10;
}
.secondc2{
    border-radius: 2px;
    background-color: #09203b;
    height: 840px;
    z-index: 10;

}
.thirdc2 {
    border-radius: 2px;
    background-color: green;
    height: 180px;
    z-index: 10;
}
.c3{
    height: 1200px;
}
.firstc3 {
    border-radius: 2px;
    background-color: blue;
    height: 200px;
    z-index: 10;
}
.secondc3{
    border-radius: 2px;
    background-color: firebrick;
    height: 250px;
    z-index: 10;

}
.thirdc3 {
    border-radius: 2px;
    background-color: darksalmon;
    height: 250px;
    z-index: 10;
}
.forthc3{
    border-radius: 2px;
    background-color: green;
    height: 500px;
    z-index: 10;
}
.boxt{
    background-image: url("../img/back1.jpg");
    background-size: cover;
    background-repeat:no-repeat ;
    background-position: center ;
    margin-bottom: 1%;
    height:73px;
    width:99%;
    display: block;
    overflow: hidden;
}
.boxt .titleb{
    display: inline;
    overflow: hidden;
    text-align: left;
    float: left;
    margin-left: 14px;
    font-weight: bold;
}
.boxt .titleb h2{
    padding-top: 5px;
    margin: 0;
    font-size: 20px;
    color: #7a828b;
}
.boxt .subtitleb{
    overflow: hidden;
    display: inline;
    text-align: center;
    margin-left: 12px;
    font-weight: bold;
}
.boxt .subtitleb h2{
    padding-right: 3.6em;
    padding-top: 5px;
    text-align: center;
    margin: 0;
    font-size: 18px;
    color: #7a828b;
}
.boxt .subtitlebh3{
    overflow: hidden;
    display: inline-block;
    font-weight: bold;
    text-align: right;
    float: right;

}
.boxt .subtitlebh3 h3{
    text-align: right;
    padding-right: 5px;
    margin: 0;
    margin-bottom: 10px;
    font-size: 15px;
    color: #ffffff;
}
.boxc{
    text-align: center;
    background-color: #09203b;
    margin-bottom: 1%;
    height:73px;
    width:99%;
    display: block;
    overflow: hidden;
}
.boxc .slider {
    display: inline-block;
    bottom: 13px;
    text-align: center;
    width: 90%;
}

.boxc .slick-slide {
    padding-bottom: 10px;
    margin: 0 5px;
}

.boxc .slick-slide img {
    width: 100%;
}

.boxc .slick-prev:before,
.boxc .slick-next:before {
    color: black;
}
/*begin*/
/* css style for row one column three which shows calender>*/
.calendar{
    background-image: url("../img/time.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: right;
    border-radius: 5%;

}

.calendarNumber{
    color:#626262;
    padding-right: 3%;
    padding-right: 5%;
    font-size:25px;
    text-shadow: 1px 1px #626262;
}
.calendarText{
    color:#626262;
    padding:3%;
    padding-right :5%;
    font-size:20px;
    text-shadow: 1px 1px #626262;
}

/* css style for row one column three which shows calender>*/
/*end*/




.sliderimage{
    border-radius: 5%;
    display: block;

}

.sliderimage img {
    border-radius: 5%;
    display: inline-block;
}






/*begin*/
/* css style for row two column three which shows log in form */





/* css style for row two column three which shows log in form */
/*end*/

.logIn{
    border-radius: 5%;
    background-color:#09203b ;

}

/*begin*/
/* css style for row four column three which shows news */

.news{
    background-color:transparent;
}
.comment{
    padding:1%;
}
.comment p {
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px white;
    text-align: right;
    font-size: 10px;
}
.newscalender{

    height: 85px;
    float:right;
    width: 30%;
    background-color:#ad8a98;
}
div.newscalender p{
    margin-top:0;
    text-align: center;
    color:#58454e;
    font-size: 12px;

}
.newscalendernum{
    margin:0;
    padding-top : 15%;
    font-size: 25px !important;
}

.newstitle{
    width : 70%;
    text-align: right;
    marging-top:0;
    margin-right: 2px;
    color:#eff1f3;
    padding: 0 2% 5% 5%;

}
.newscontent{

    text-align: right;
    padding : 2% 0% 2% 2%;
    margin : 5% 0% 5% 5%;
    font-size: 11px;
    color:#aac3c9;
}
/* css style for row four column three which shows news */
/*end*/
/*second column styles*/
.c2r1{
    background-color: #2e6da4;
}
.c2r2c1{
    height: 160px;
    background-color: #ce8483;
}
.c2r2c2{
    height: 160px;
    background-color: #d9534f;
}
.c2r2c3{
    height: 160px;
    background-color: #ce8483;

}
.c2r2c4{
    height: 160px;
    background-color: #d9534f;
}
.c2r2 img{
    width: 100%;
    height: 380px;
}